<?php

/*
 *  Настройки подключения к Active Directory
 */

 Config::Set('db.table.user_ad', '___db.table.prefix___user_ad');
 Config::Set('db.table.ad_cron', '___db.table.prefix___ad_cron');

//список доменных контроллеров
$config['ad']['domain_controllers'] = array(); //array("dc1.example.com","dc2.example.com")

// DN для поиска
$config['ad']['base_dn'] = ""; //OU=Users,DC=example,DC=com

// суффикс подключения
$config['ad']['account_suffix'] = ""; //@example.com

//Учетные данные для подключения
$config['ad']['admin_username'] = ""; //admin
$config['ad']['admin_password'] = ""; //password

// Используемая аутентификация. ssl и tls вместе не работают!
$config['ad']['use_ssl'] = false;
$config['ad']['use_tls'] = false;


//порт для соединения
$config['ad']['ad_port'] = "";

// Группы для администраторов
$config['security']['admin_groups'] = array("Администраторы домена");

/*
 * Настройки для профиля (пользовательские поля)
 * Настройки для профиля (пользовательские поля)
 * basic - базовые настройки
 * userfield - пользовательские поля.
 *
 * Используйте с осторожностью
 *
 * В массиве ключ является именем свойства объекта, или именем поля, а значение
 * является аттрибутом пользователя LDAP.
 * работает только со строковыми параметрами.
 */

$config['profile']['basic'] = array(
    'setLogin' => 'samaccountname',
    'setMail' => 'mail',
    'setProfileName' => 'displayname',
);

$config['profile']['userfield'] = array(
    'phone'=> 'mobile',
    'skype' => 'telephoneNumber',
);

return $config;

?>